<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>消費カロリー</title>
</head>
<body>
	<header>
		<h1>体幹を鍛えよう！</h1>
	</header>
	<main>
		[[${name}]]さん、こんにちは
		<table border="1">
			<tr>
				<th>日付</th>
				<th>種目</th>
				<th>時間</th>
				<th>体重</th>
			</tr>
			
			<tr>
				<td>
					<input type="text"
				</td>
				<td>
					
				</td>
				<td>
					
				</td>
				<td>
					
				</td>
			</tr>
		</table>
		<button>登録</button><br>
		<a href="/">過去の記録を見る</a>
		</main>
</body>
</html>