<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>カロリー出力</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
	<header>
		<h1><span class="glitch" data-text="自宅で体幹を鍛えよう！">自宅で体幹を鍛えよう！</span></h1>
		<span th:text="${@account.name}+' さんがログイン中'"></span>
	</header>

	<main>
		<div class = iii>
		<h3><span th:text="${@account.name} + ' さん、こんにちは'"></span></h3>
		<table border="1">
			<tr>
				<th>日付</th>
				<th>種目</th>
				<th>時間</th>
				<th>体重</th>
			</tr>
			<tr>
				<td th:text="${record.date}"></td>
				<td th:text="${eventName}"></td>
				<td th:text="${record.time + ' 分'}"></td>
				<td th:text="${record.weight + ' kg'}"></td>
			</tr>
		</table>
		<h4 th:text="${@account.name} + 'さんの消費カロリーは、約' + ${record.burnCalorie} + 'キロカロリーです！'"></h4>
		<h4>この調子で頑張っていきましょう！</h4>
		<p><a href="/past">過去の記録を見る</a></p>
		<form action="/logout" method="post">
			<button type="submit">ログアウト</button>
		</form>
		</div>
	</main>
</body>
</html>
