<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>過去の記録を出力　スライド5</title>
</head>
<body>
	<header>
			<h1>体幹を鍛えよう！</h1>
		</header>
		<main>
			[[${@account.name}]]さん、こんにちは
	<table border="1">
			<tr>
				<th>日付</th>
				<th>種目</th>
				<th>時間</th>
				<th>体重</th>
			</tr>
			<tr>
				<td>
					<input type="date" name="releaseDate" th:value="${date}">
				</td>

				<td>
					<input type="text" name="name" th:value="${name}">
				</td>

				<td>
					<input type="text" name="time" th:value="${time}">分
				</td>

				<td>
					<input type="text" name="weight" th:value="${weight}">kg
				</td>

				<td>
					約<input type="text" name="burnCalorie" th:value="${burnCalorie}">カロリー
				</td>

			</tr>
		</table>

</body>
</html>