<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>記録入力ページ</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<header>
		<h1><span class="glitch" data-text="自宅で体幹を鍛えよう！">自宅で体幹を鍛えよう！</span></h1>
		<span th:text="${@account.name}+' さんがログイン中'"></span>
	</header>
	<main>
		<div class = iii>
		<h3><span th:text="${@account.name} + ' さん、こんにちは'"></span></h3>
		<form action="/logout" method="post">
		</form>
		<form action="/records/add" method="post">
			<table border="1">
				<tr>
					<th>日付</th>
					<th>種目</th>
					<th>時間</th>
					<th>体重</th>
				</tr>
				<tr>
					<td><input type="date" name="date" required></td>
					<td>
						<select name="eventId">
							<option th:each="event : ${events}" th:value="${event.id}" th:text="${event.name}"></option>
						</select>
					</td>
					<td><input type="number" name="time" min="1" required> 分</td>
					<td><input type="number" name="weight" min="1" step="0.1" required> kg</td>
				</tr>
			</table>
			<button type="submit">登録</button>
		</form>
		<p><a href="/past">過去の記録を見る</a></p>
		<form action="/logout" method="post">
			<button type="submit">ログアウト</button>
		</form>
		</div>
	</main>
</body>
</html>