<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>新規会員登録</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<header>
		<h1><span class="glitch" data-text="自宅で体幹を鍛えよう！">自宅で体幹を鍛えよう！</span></h1>
	</header>
	<main>
		<div class = aaa>
		<h3>お客様情報</h3>
		<form action="/users/add" method="post">
			<div th:if="${errorList}">
				<div th:each="error : ${errorList}" th:text="${error}" style="color: red"></div>
			</div>
			<table border="1">
				<tr>
					<th>お名前</th>
					<td><input type="text" name="name" th:value="${name}"></td>
				</tr>
				<tr>
					<th>パスワード</th>
					<td><input type="text" name="password"></td>
				</tr>
			</table>
			<button type="submit">新規登録</button>
		</form>
		<p><a href="/login">ログイン画面へ戻る</a></p>
		</div>
	</main>
</body>
</html>